<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management System</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"> -->
    <script src="https://kit.fontawesome.com/655b3b7e45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/module.css">
</head>
<body>
    <!-- Name of the system -->
    <header>
        <h1>Task Management System</h1>
    </header>

    <!-- Main Section -->
    <main>
        <section id="app-content">
            <div id="task-form">
                <h2>Add Task</h2>
                <form id="add-task-form">
                    <!-- <label for="task">Task:</label> -->
                    <input type="text" name="task" id="task" required />
                    <button type="submit" class="addTask">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </form>
            </div>
            <!-- Task List Must be displayed Below -->
            <div id="task-list">
                <!-- Tasks Will Be Displayed over here -->
            </div>
        </section>
    </main>

    <script src="/js/main.js"></script>
</body>
</html>